---
import ViewCount from "@/assets/Icons/view-count.svg";
import Date from "@/assets/Icons/date.svg";
import WingPencil from "@/assets/Icons/wing.svg";
import Time from "@/assets/Icons/time.svg";
import DefaultCover from "@/assets/images/no-cover.png";
import { computedTotalWords } from "@/scripts/totalCount";

// 传递过来相关的参数
type ImageInfo = {
    url: string | null;
    alt: string | null;
};
interface FrontMatter {
    title: string;
    pubDate: string;
    description: string;
    author: string;
    cover?: ImageInfo;
    tags: string[];
}
type Params = {
    url: string; // url其实就是文件名，需要加上posts
    frontmatter: FrontMatter;
    totalCounts: number;
};
const { params } = Astro.props as { params: Params };

// 检查是否有cover图，如果有则展示，没有则展示默认图
let displayCover: ImageInfo = {
    url: DefaultCover.src,
    alt: "默认封面",
};

// 如果有封面，那就赋值url
if (params.frontmatter.cover && params.frontmatter.cover.url) {
    displayCover.url = params.frontmatter.cover.url;
    displayCover.alt = params.frontmatter.cover.alt;
}
---

<article
    class="single-blog-card-decoration layout-basic-style flex justify-between gap-4 group transition-all duration-500 ease-in-out hover:scale-101"
>

    <!-- 左侧 -->
    <div
        data-ui="blog-content-area"
        class="min-w-50 max-w-150 flex-1 flex flex-col justify-between"
    >
        <!-- 标题 -->
        <a data-ui="post-url" href={`/posts/${params.url}`}>
            <h1
                class="text-blog-title-light hover:text-pink-400 cursor-pointer truncate"
            >
                {params.frontmatter.title}
            </h1>
        </a>

        <!-- 描述 -->
        <div class="text-body transition-all h-fit line-clamp-3">
            {params.frontmatter.description}
        </div>

        <!-- 信息展示 -->
        <div class="text-caption flex gap-6">
            <!-- 浏览量 -->
            <div class="flex items-center gap-1">
                <ViewCount class="md-icon-basic-style" />
                <span data-ui="view-count-display">1</span>
            </div>
            <!-- 日期 -->
            <div data-ui="view-count-display" class="flex items-center gap-1">
                <Date class="md-icon-basic-style" />
                <span>{params.frontmatter.pubDate.split("T")[0]}</span>
            </div>
            <!-- 字数 -->
            <div data-ui="view-count-display" class="flex items-center gap-1">
                <WingPencil class="md-icon-basic-style" />
                <span
                    >{
                        params.totalCounts / 1000 > 1
                            ? params.totalCounts / 10000 > 1
                                ? (params.totalCounts / 10000).toFixed(1) + "w"
                                : (params.totalCounts / 1000).toFixed(1) + "k"
                            : params.totalCounts
                    }</span
                >
            </div>
            <!-- 预计浏览时长 -->
            <div data-ui="view-count-display" class="flex items-center gap-1">
                <Time class="md-icon-basic-style" />
                <span>{(params.totalCounts / 300).toFixed(1)} min</span>
            </div>
        </div>
    </div>

    <!-- 图片部分 -->
    <div data-ui="blog-pic-area" class="w-40 h-40 rounded-xl overflow-hidden">
        <a href={`/posts/${params.url}`}>
            <img
                class="w-full h-full cursor-pointer object-cover group-hover:scale-110 group-hover:rotate-z-8 transition-transform duration-500 ease-in-out"
                src={displayCover.url}
                alt={displayCover.alt}
            />
        </a>
    </div>
</article>

<!-- 每一单独的预加载的时候都要进行对应的重新fetch -->
 <!-- TODO 需要将每一个博客的浏览量全部装填上 -->
 <script>
    // import { getUmamiStats } from "@/scripts/Umami_statistics"
    // import type{ UmamiStats } from "@/scripts/Umami_statistics"
    // // 通过data-ui='post-url'来获取到post的url
    // const postUlrElement:HTMLAnchorElement = document.querySelector('[data-ui="post-url"]') as HTMLAnchorElement

    // // 对获取到的blog进行查询
    // const totalPreviews:UmamiStats = await getUmamiStats(new URL(postUlrElement.href).pathname)

    // // 记录浏览量
    // let totalViews:HTMLElement | undefined;
    // function initTotalViews () {
    //     // 获取到对应的元素
    //     totalViews = document.querySelector('[data-ui="view-count-display"]') as HTMLElement
    //     totalViews.textContent = totalPreviews.pageviews.toString()
    // }

    // // 每次切换页面，就需要进行组装
    // document.addEventListener('astro:after-swap', () => {
    //     initTotalViews()
    // })

    // // 脚本注入就得执行
    // initTotalViews ()
 </script>
